<?xml version="1.0" encoding="UTF-8"?>
<gui name="kjules"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
    <MenuBar>
        <Menu name="file">
            <Action name="new_session" />
            <Separator />
            <Action name="backup_data" />
            <Action name="restore_data" />
            <Separator />
            <Action name="file_quit" />
        </Menu>
        <Menu name="actions">
            <text>Actions</text>
            <Action name="toggle_queue" />
            <Separator />
            <Action name="refresh_sources" />
            <Action name="refresh_source" />
            <Action name="show_full_session_list" />
            <Separator />
            <Action name="view_sessions" />
            <Action name="show_past_new_sessions" />
            <Action name="view_raw_data" />
            <Separator />
            <Action name="open_url" />
            <Action name="copy_url" />
        </Menu>
        <Menu name="view">
            <Action name="toggle_window" />
        </Menu>
        <Menu name="settings">
            <Action name="options_configure" />
            <Action name="options_configure_toolbars" />
        </Menu>
    </MenuBar>
    <ToolBar name="mainToolBar">
        <text>Main Toolbar</text>
        <Action name="new_session" />
        <Separator />
        <Action name="toggle_queue" />
        <Separator />
        <Action name="refresh_sources" />
        <Action name="view_sessions" />
        <Action name="options_configure" />
        <Action name="toggle_window" />
        <Action name="file_quit" />
    </ToolBar>
    <ActionProperties>
        <Action name="toggle_window" icon="window-minimize" text="Minimize to Tray" />
    </ActionProperties>
</gui>