<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="newsessiondialog" version="1">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="load_template"/>
      <Action name="save_template"/>
      <Action name="save_draft"/>
      <Separator/>
      <Action name="create_session"/>
      <Action name="create_pr_session"/>
      <Separator/>
      <Action name="file_close"/>
    </Menu>
    <Menu name="view"><text>&amp;View</text>
      <Action name="hide_selected_sources"/>
      <Action name="jump_to_prompt"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
      <Action name="require_plan_approval"/>
      <Action name="keep_open_after_saving"/>
      <Action name="keep_source_selected"/>
    </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="load_template"/>
    <Action name="save_template"/>
    <Action name="save_draft"/>
  </ToolBar>
</gui>